/* ---------- */
/* Open Sans */
/* ---------- */

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/open_sans/OpenSans-Light.ttf");
  font-weight: 300;
  font-style: regular;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/open_sans/OpenSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/open_sans/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/open_sans/OpenSans-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/open_sans/OpenSans-Medium.ttf");
  font-weight: 500;
  font-style: regular;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/open_sans/OpenSans-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/open_sans/OpenSans-SemiBold.ttf");
  font-weight: 600;
  font-style: regular;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/open_sans/OpenSans-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/open_sans/OpenSans-Bold.ttf");
  font-weight: 700;
  font-style: regular;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/open_sans/OpenSans-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/open_sans/OpenSans-ExtraBold.ttf");
  font-weight: 800;
  font-style: regular;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/open_sans/OpenSans-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
