/* ---------- */
/* Source Code Pro */
/* ---------- */
@font-face {
  font-family: "Source Code Pro";
  src: url("@/public/fonts/source_code_pro/SourceCodePro-ExtraLight.ttf");
  font-weight: 200;
  font-style: regular;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("@/public/fonts/source_code_pro/SourceCodePro-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Source Code Pro";
  src: url("@/public/fonts/source_code_pro/SourceCodePro-Light.ttf");
  font-weight: 300;
  font-style: regular;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("@/public/fonts/source_code_pro/SourceCodePro-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("@/public/fonts/source_code_pro/SourceCodePro-Regular.ttf");
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/fonts/source_code_pro/SourceCodePro-RegularItalic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/fonts/source_code_pro/SourceCodePro-Medium.ttf");
  font-weight: 500;
  font-style: regular;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/fonts/source_code_pro/SourceCodePro-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/fonts/source_code_pro/SourceCodePro-SemiBold.ttf");
  font-weight: 600;
  font-style: regular;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/fonts/source_code_pro/SourceCodePro-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/fonts/source_code_pro/SourceCodePro-Bold.ttf");
  font-weight: 700;
  font-style: regular;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/fonts/source_code_pro/SourceCodePro-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Source CodeP ro";
  src: url("/fonts/source_code_pro/SourceCodePro-ExtraBold.ttf");
  font-weight: 800;
  font-style: regular;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/fonts/source_code_pro/SourceCodePro-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Source Code Pro";
  src: url("/fonts/source_code_pro/SourceCodePro-Black.ttf");
  font-weight: 900;
  font-style: regular;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/fonts/source_code_pro/SourceCodePro-Black.ttf");
  font-weight: 900;
  font-style: italic;
}
