<template>
  <!-- TODO: Design this to make it easy to add hero image and ctas. This should be more deterministic than the generic AppHeader component -->
  <header>
    <slot></slot>
  </header>
</template>
