<script setup>
// TODO: design so that the info can be pased from json, so that it can be used directly or from a headless cms
defineProps({});
</script>
<template>
  <article>
    <!-- Title -->
    <!-- Description-->
    <!-- Image: order-1 -->
    <!-- logo: order 4-->
  </article>
</template>
